<?xml version="1.0"?>
<launch>
    <arg name="ip" doc="socket ip" default="" />
    <arg name="port" doc="socket ip" default="" />
    <arg name="cmd_vel_topic" doc="cmd_vel topic name" default="" />
    <arg name="odom_topic" doc="odometry topic name" default="" />
    <arg name="laser_topic" doc="laser topic name" default="" />

	<param name="ip" value="$(arg ip)" />
    <param name="port" value="$(arg port)" />
    <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
    <param name="odom_topic" value="$(arg odom_topic)" />
    <param name="laser_topic" value="$(arg laser_topic)" />
    
	<include file="$(find pioneer_bringup)/launch/laser_lms1xx.launch" />
	<node name="bci_mover" pkg="pioneer_bci" type="bci_mover.py" output="screen">
	</node>
</launch>